# Google Haritalar (Places API New) anahtari zorunlu
# 1) https://console.cloud.google.com/apis/library/places.googleapis.com
# 2) Enable "Places API (New)"
# 3) Credentials > Create API key
# 4) Asagidaki satira yapistir:

GOOGLE_PLACES_API_KEY=
